<h3>Clients</h3>

<button routerLink="/clients/create">Create</button>

<button (click)="sortByName()">Sort by name</button>

<div>
  <label>
    Filter by name:
    <input type="text" [(ngModel)]="name" (keyup)="onInput()">
  </label>
</div>

<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Is Business</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let client of clients">
    <td>{{ client.name }}</td>
    <td>{{ client.isBusiness }}</td>
    <td><button routerLink="/clients/update/{{client.id}}">Update</button></td>
    <td><button (click)="removeClient(client.id)">Remove</button></td>
  </tr>
  </tbody>
</table>
