<form (ngSubmit)="createClient(form)" #form="ngForm">

  <div>
    Name:
    <input type="text" [(ngModel)]="client.name" name="name" #name="ngModel"
           required minlength="2">
  </div>

  <div style="color: red;" *ngIf="name.invalid && (name.dirty || name.touched)">
    <div *ngIf="name.errors?.required">
      Name is required.
    </div>
    <div *ngIf="name.errors?.minlength">
      Name must be at least 2 characters long.
    </div>
  </div>

  <div>
    Is Business:
    <input type="checkbox" [(ngModel)]="client.isBusiness" name="isBusiness"/>
  </div>

  <button type="submit" [disabled]="!form.valid">
    Create
  </button>

</form>
