<form [formGroup]="domainForm">

  <div>
    Name:
    <input type="text" formControlName="name">
  </div>

  <div style="color: red;" *ngIf="name.invalid && (name.dirty || name.touched)">
    <div *ngIf="name.errors?.required">
      Name is required.
    </div>
    <div *ngIf="name.errors?.minlength">
      Name must be at least 4 characters long.
    </div>
  </div>

  <div>
    Price (3 - 100):
    <input type="number" formControlName="price">
  </div>

  <div style="color: red;" *ngIf="price.invalid && (price.dirty || price.touched)">
    <div *ngIf="price.errors?.required">
      Price is required.
    </div>
    <div *ngIf="price.errors?.min">
      Price has to be at least 3.
    </div>
    <div *ngIf="price.errors?.max">
      Price has to be maximum 100.
    </div>
  </div>

  <button type="submit" [disabled]="!domainForm.valid" (click)="createDomain()">
    Create
  </button>

</form>





