<h3>Web domains</h3>

<button routerLink="/domains/create">Create</button>

<button (click)="sortByPrice()">Sort by price</button>

<div>
  <label>
    Filter by name:
    <input type="text" [(ngModel)]="name" (keyup)="onInput()">
  </label>
</div>

<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Price</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let domain of domains">
    <td>{{ domain.name }}</td>
    <td>{{ domain.price }}</td>
    <td><button routerLink="/domains/update/{{domain.id}}">Update</button></td>
    <td><button (click)="removeDomain(domain.id)">Remove</button></td>
  </tr>
  </tbody>
</table>
