<div id="top-menu">
  <nav>
    <a routerLink="/clients/dashboard">Clients Dashboard</a>
    <a routerLink="/domains/dashboard">Web Domains Dashboard</a>
  </nav>
</div>

<div id="container">
  <router-outlet></router-outlet>
</div>
